Repository nbdy/dhtc: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-test

go-fmt:
  name: go-fmt
  entry: gofmt -w
  language: system

go-mod-tidy:
  name: go-mod-tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

go-test:
  name: go-test
  entry: go test ./...
  language: system
  pass_filenames: false

refactor: implement repository pattern and add GORM support for DB
  db/blacklist.go
  db/blacklist_helper.go
  db/categorizer.go
  db/clover.go
  db/db.go
  db/gorm.go
  db/helper.go
  db/repository.go
  db/types.go
  db/watch.go
Due: go-fmt, go-test

feat: enhance dhtc-client and add unit tests
  dhtc-client/client.go
  dhtc-client/codec.go
  dhtc-client/codec_test.go
  dhtc-client/indexingService.go
  dhtc-client/managers.go
  dhtc-client/protocol.go
  dhtc-client/protocol_test.go
  dhtc-client/sink.go
  dhtc-client/transport.go
  dhtc-client/types.go
  dhtc-client/util.go
Due: go-fmt, go-test

feat: refactor and expand notifier system with Discord, Slack, and Gotify
  notifier/discord.go
  notifier/gotify.go
  notifier/notifier.go
  notifier/notifier_test.go
  notifier/slack.go
  notifier/telegram.go
Due: go-fmt, go-test

feat: implement downloader package for external client integration
  downloader/downloader.go
Due: go-fmt, go-test

feat: UI overhaul with Tailwind CSS and DaisyUI
  package-lock.json
  package.json
  tailwind.config.js
  ui/api.go
  ui/blacklist.go
  ui/dashboard.go
  ui/discover.go
  ui/downloader.go
  ui/embeds.go
  ui/hub.go
  ui/search.go
  ui/settings.go
  ui/static/css/bootstrap.css
  ui/static/css/input.css
  ui/static/css/sortable.min.css
  ui/static/css/themes.css
  ui/static/js/bootstrap.js
  ui/templates/include/base.html
  ui/templates/include/navbar.html
  ui/templates/include/pagination.html
  ui/templates/include/torrent_table.html
  ui/templates/view/blacklist.html
  ui/templates/view/dashboard.html
  ui/templates/view/discover.html
  ui/templates/view/search.html
  ui/templates/view/settings.html
  ui/templates/view/trawl.html
  ui/templates/view/watches.html
  ui/trawl.go
  ui/ui.go
  ui/watch.go
Due: go-fmt, go-test

feat: update configuration, main entry point, and cache
  cache/cache.go
  cmd/dhtc/main.go
  cmd/dhtc/main_test.go
  config/configuration.go
  go.mod
  go.sum
Due: go-fmt, go-mod-tidy, go-test

ci/docker: add nodejs build step for tailwindcss 4
  .github/workflows/build.yml
  .github/workflows/release.yml
  Dockerfile
  package-lock.json
  package.json
Due: none

docs: overhaul readme with modern branding and features
  README.md
Due: none

feat(ui): migrate to tailwindcss 4 and add settings saving
  config/configuration.go
  ui/settings.go
  ui/static/css/input.css
  ui/templates/include/base.html
  ui/templates/view/settings.html
  ui/ui.go
Due: go-fmt, go-test

fix(dhtc-client): update protocol test to match NewProtocol signature
  dhtc-client/protocol_test.go
Due: go-fmt, go-test

chore: update dependencies and documentation
  README.md
  go.mod
  go.sum
  package-lock.json
  package.json
Due: go-mod-tidy

refactor: support runtime notifier configuration and add form tags
  config/configuration.go
  notifier/notifier.go
Due: go-fmt, go-test

feat: redesign settings page and enable runtime configuration updates
  cmd/dhtc/main.go
  ui/settings.go
  ui/templates/view/settings.html
  ui/ui.go
Due: go-fmt, go-test

feat: add screenshots workflow and script
  .github/workflows/screenshots.yml
  scripts/screenshot.js
Due: none

refactor: improve dhtc-client, unify db repository and centralize ui logic
  db/clover.go
  db/gorm.go
  db/helper.go
  db/repository.go
  dhtc-client/client.go
  dhtc-client/codec.go
  dhtc-client/codec_test.go
  dhtc-client/indexingService.go
  dhtc-client/managers.go
  dhtc-client/protocol.go
  dhtc-client/sink.go
  dhtc-client/transport.go
  dhtc-client/types.go
  dhtc-client/util.go
  downloader/downloader.go
  ui/api.go
  ui/downloader.go
  ui/helpers.go
  ui/search.go
  ui/static/css/input.css
  ui/static/js/livechart.js
  ui/templates/view/blacklist.html
  ui/templates/view/dashboard.html
  ui/templates/view/discover.html
  ui/templates/view/search.html
  ui/templates/view/settings.html
  ui/templates/view/trawl.html
  ui/templates/view/watches.html
Due: go-fmt, go-test

docs: update README and fix package.json description link
  README.md
  package.json
Due: none

fix: apply minimal bug fixes and thread-safety improvements
  bootstrap-nodes.txt
  cache/cache.go
  cmd/dhtc/main.go
  db/helper.go
  dhtc-client/sink.go
  dhtc-client/types.go
  dhtc-client/util.go
Due: go-fmt, go-test

Update Go version to 1.25 and remove redundant `go get` step in workflows
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

Update pre-commit hooks: add JSON, merge conflict, and private key checks; switch to external Go hooks; integrate Prettier
  .pre-commit-config.yaml
Due: none

Removed unused themes.css file to clean up static assets.
  scripts/screenshot.js
  tailwind.config.js
  ui/static/css/input.css
  ui/static/css/themes.css
  ui/templates/include/base.html
  ui/templates/include/pagination.html
  ui/templates/include/torrent_table.html
  ui/templates/view/blacklist.html
  ui/templates/view/dashboard.html
  ui/templates/view/discover.html
  ui/templates/view/settings.html
  ui/templates/view/trawl.html
  ui/templates/view/watches.html
Due: none

refactor: modernize codebase to Go 1.25 standards
  db/blacklist_helper.go
  db/clover.go
  db/gorm.go
  db/helper.go
  db/types.go
  dhtc-client/client.go
  dhtc-client/codec.go
  dhtc-client/indexingService.go
  downloader/downloader.go
  notifier/gotify.go
  ui/hub.go
Due: go-fmt, go-test

feat: add default DHT bootstrap nodes and improve ReadFileLines
  cmd/dhtc/main.go
Due: go-fmt, go-test

docs: update build instructions for Go 1.25 and CSS
  README.md
  dhtc-client/README.md
Due: none

chore: bump versions in go.mod and go.sum
  go.mod
  go.sum
Due: go-mod-tidy

Path conditions:
  go-fmt: any of: \.go$
  go-mod-tidy: any of: (go.mod|go.sum)$
  go-test: any of: \.go$
